<ul class="list-group">
  <li class="list-group-item"><a href="/channel">My channels</a></li>
  <li class="list-group-item"><a href="/channel/request/openPage">Request to open a channel</a></li>
  <li class="list-group-item"><a href="/channel/request/pendingOpenPage">Pending open requests</a></li>
  <li class="list-group-item"><a href="/channel/request/pendingClosePage">Pending close requests</a></li>
  <li class="list-group-item"><a href="/channel/request/payPage">Pay</a></li>
  <li class="list-group-item"><a href="/channel/closedChannel">Closed channels</a></li>
</ul>